{
    "env": {
        "mocha": true,
        "browser": true,
        "node": true
    },
    "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true
    },
    "extends": "airbnb/base",
    "rules": {
        "indent": [2, 4],
        "comma-dangle": [2, "never"],
        "new-cap": 0,
        "id-length": 0,
        "vars-on-top": 0,
        "func-names": 0,
        "space-before-function-paren": 0,
        "padded-blocks": 0,
        "no-multiple-empty-lines": [2,{"max": 1}]
    }
}
